Repository Forsakringskassan/designsystem, changes with the owners that CODEOWNERS names for each.
All owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom

docs: add missing import in `FFormExample` (refs SFKUI-6500)
  packages/vue/src/components/FForm/examples/FFormExample.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

docs: text updates after review (refs SFKUI-6500)
  docs/accessibility.md
  docs/components/modal/FConfirmModal.md
  docs/components/validation/validators.md
  docs/gettingstarted/contribute-to-fkds/contributing-developers.md
  docs/guides/formatting-and-parsing/custom-formatter-parser.md
  docs/guides/formatting-and-parsing/formatter-parser.md
  docs/guides/formatting-and-parsing/index.json
  docs/guides/validation-and-error-handling/cross-validation.md
  docs/guides/validation-and-error-handling/custom-error-message.md
  docs/guides/validation-and-error-handling/custom-validator.md
  docs/guides/validation-and-error-handling/index.json
  docs/guides/validation-and-error-handling/length-validation.md
  docs/guides/validation-and-error-handling/validation.md
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re

docs: changed modal link (refs SFKUI-6500)
  docs/accessibility.md
  docs/components/modal/FConfirmModal.md
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re

docs: fix links in readme
  README.md
Owners: @ext, @dvitamin, @NicklasWei, @MCFK

docs: add missing import in `FFormExample` (refs SFKUI-6500)
  packages/vue/src/components/FForm/examples/FFormExample.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

docs: fix links in readme
  README.md
Owners: @ext, @dvitamin, @NicklasWei, @MCFK

wip
  packages/webcomponents/c-page-header.css
  packages/webcomponents/c-page-header.js
  packages/webcomponents/index.html
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

fix: fix `getDay{Start,End}Offset` refers to a value but is being used as a type (refs SFKUI-6500)
  etc/vue.api.md
  packages/vue/src/internal-components/calendar/ICalendarMonthGrid.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

docs: add missing import in `FLayoutApplicationTemplate` example (fixes SFKUI-6860)
  docs/components/page-layout/examples/FLayoutApplicationTemplateExample.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re

docs: update readme (refs SFKUI-6878)
  README.md
Owners: @ext, @dvitamin, @NicklasWei, @MCFK

fix: fix `getDay{Start,End}Offset` refers to a value but is being used as a type (refs SFKUI-6500)
  etc/vue.api.md
  packages/vue/src/internal-components/calendar/ICalendarMonthGrid.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

build: strip package.json in vue packages (refs SFKUI-6500)
  packages/vue-labs/package.json
  packages/vue/package.json
Owners: @dvitamin, @ext, @MCFK, @NicklasWei

chore(deps): remove unused lodash dependency from @fkui/vue-labs (refs SFKUI-6500)
  package-lock.json
  packages/vue-labs/package.json
Owners: @ext, @dvitamin, @MCFK, @NicklasWei

chore(deps): remove unused dayjs dependency from @fkui/vue-labs (refs SFKUI-6500)
  package-lock.json
  packages/vue-labs/package.json
Owners: @ext, @dvitamin, @MCFK, @NicklasWei

feat(deps): bundle lodash (refs SFKUI-6500)
  packages/vue/package.json
Owners: @dvitamin, @ext, @MCFK, @NicklasWei

fix: fix treeshaking issue with lodash (refs SFKUI-6500)
  packages/vue/src/components/FCheckboxField/FCheckboxField.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

chore(deps): pin lodash to 4.17.21 (refs SFKUI-6500)
  package-lock.json
  packages/vue/package.json
Owners: @ext, @dvitamin, @MCFK, @NicklasWei

ci: add integration test (refs SFKUI-6500)
  .github/workflows/integration.yml
  package-lock.json
  packages/vue/package.json
Owners: @ext, @dvitamin, @NicklasWei, @MCFK

chore(deps): update @forsakringskassan/eslint monorepo to v11.4.6
  etc/logic.api.md
  package-lock.json
  package.json
  packages/logic/src/services/ValidationService/ValidationService.ts
  packages/logic/src/services/ValidationService/ValidationServiceInterface.ts
  packages/logic/src/types/PartialRecord.ts
  packages/logic/src/types/index.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

chore(deps): update @forsakringskassan/eslint monorepo to v11.4.6
  etc/logic.api.md
  package-lock.json
  package.json
  packages/logic/src/services/ValidationService/ValidationService.ts
  packages/logic/src/services/ValidationService/ValidationServiceInterface.ts
  packages/logic/src/types/PartialRecord.ts
  packages/logic/src/types/index.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

chore(deps): pin lodash to 4.17.21 (refs SFKUI-6500)
  package-lock.json
  packages/vue/package.json
Owners: @ext, @dvitamin, @MCFK, @NicklasWei

chore(deps): remove unused dayjs dependency from @fkui/vue-labs (refs SFKUI-6500)
  package-lock.json
  packages/vue-labs/package.json
Owners: @ext, @dvitamin, @MCFK, @NicklasWei

feat(deps): bundle lodash (refs SFKUI-6500)
  packages/vue/package.json
Owners: @dvitamin, @ext, @MCFK, @NicklasWei

chore(deps): remove unused lodash dependency from @fkui/vue-labs (refs SFKUI-6500)
  package-lock.json
  packages/vue-labs/package.json
Owners: @ext, @dvitamin, @MCFK, @NicklasWei

build: strip package.json in vue packages (refs SFKUI-6500)
  packages/vue-labs/package.json
  packages/vue/package.json
Owners: @dvitamin, @ext, @MCFK, @NicklasWei

fix: fix treeshaking issue with lodash (refs SFKUI-6500)
  packages/vue/src/components/FCheckboxField/FCheckboxField.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

chore(deps): update dependency @forsakringskassan/vite-lib-config to v2.2.0
  package-lock.json
  package.json
  packages/vue-labs/package.json
  packages/vue-labs/src/components/XTimeTextField/__snapshots__/XTimeTextField.spec.ts.snap
  packages/vue/package.json
Owners: @ext, @dvitamin, @MCFK, @NicklasWei, @OlofFredriksson, @TMFKse, @mitra-Re

chore(deps): update dependency @forsakringskassan/vite-lib-config to v2.2.0
  package-lock.json
  package.json
  packages/vue-labs/package.json
  packages/vue-labs/src/components/XTimeTextField/__snapshots__/XTimeTextField.spec.ts.snap
  packages/vue/package.json
Owners: @ext, @dvitamin, @MCFK, @NicklasWei, @OlofFredriksson, @TMFKse, @mitra-Re

chore(release): 5.39.0 (refs SB-4982)
  CHANGELOG.md
  docs/package.json
  internal/serve/package.json
  internal/vue-sandbox/package.json
  lerna.json
  package-lock.json
  package.json
  packages/css-variables/package.json
  packages/date/package.json
  packages/design/package.json
  packages/icon-lib-builder/package.json
  packages/icon-lib-default/package.json
  packages/logic/package.json
  packages/test-utils/package.json
  packages/vue-labs/package.json
  packages/vue/package.json
Owners: @ext, @dvitamin, @NicklasWei, @MCFK

Notes added by 'git notes add'
  ff0c8461456aab5ad3e9be930f09d047067dca51
Owners: @ext, @dvitamin, @NicklasWei, @MCFK

feat: new prop `teleport` on `FLoader` to override default teleport target (refs SFKUI-6500)
  docs/components/load/FLoader.md
  etc/vue.api.md
  packages/vue/src/components/FLoader/FLoader.spec.ts
  packages/vue/src/components/FLoader/FLoader.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re, @OlofFredriksson, @TMFKse

feat: new package `@fkui/i18next-translate` for using `i18next` with FKUI (refs SFKUI-6500)
  .htmlvalidate-public.js
  docs/develop/i18next-translate/i18next-provider-interface.md
  docs/develop/i18next-translate/i18next-provider.md
  docs/develop/i18next-translate/i18next.md
  docs/develop/i18next-translate/index.json
  etc/i18next-translate.api.md
  package-lock.json
  packages/i18next-translate/LICENSE.md
  packages/i18next-translate/README.md
  packages/i18next-translate/api-extractor.json
  packages/i18next-translate/package.json
  packages/i18next-translate/rollup.config.mjs
  packages/i18next-translate/src/i18next-provider.spec.ts
  packages/i18next-translate/src/i18next-provider.ts
  packages/i18next-translate/src/index.ts
  packages/i18next-translate/tsconfig.json
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re, @OlofFredriksson, @TMFKse

chore(deps): remove strip-ansi dependency (refs SFKUI-6500)
  package-lock.json
  packages/test-utils/package.json
  packages/test-utils/src/matchers/to-have-focus.spec.ts
Owners: @ext, @dvitamin, @MCFK, @NicklasWei, @OlofFredriksson, @TMFKse, @mitra-Re

ci: add integration test (refs SFKUI-6500)
  .github/workflows/integration.yml
  package-lock.json
  packages/vue/package.json
Owners: @ext, @dvitamin, @NicklasWei, @MCFK

feat: new prop `teleport` on `FLoader` to override default teleport target (refs SFKUI-6500)
  docs/components/load/FLoader.md
  etc/vue.api.md
  packages/vue/src/components/FLoader/FLoader.spec.ts
  packages/vue/src/components/FLoader/FLoader.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re, @OlofFredriksson, @TMFKse

chore(deps): remove strip-ansi dependency (refs SFKUI-6500)
  package-lock.json
  packages/test-utils/package.json
  packages/test-utils/src/matchers/to-have-focus.spec.ts
Owners: @ext, @dvitamin, @MCFK, @NicklasWei, @OlofFredriksson, @TMFKse, @mitra-Re

docs: move i18next-translate (refs SFKUI-6500)
  docs/functions/i18next-translate/i18next-provider-interface.md
  docs/functions/i18next-translate/i18next-provider.md
  docs/functions/i18next-translate/i18next.md
  docs/functions/i18next-translate/index.json
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re

chore(deps): update @forsakringskassan/apimock-express to v1.5.0 (refs SFKUI-6500)
  package-lock.json
Owners: @ext, @dvitamin, @MCFK, @NicklasWei

docs: fix critical compilation errors in examples (refs SFKUI-6500)
  TESTING.md
  docs/components/FContextMenu.md
  docs/components/FOffline.md
  docs/components/FWizard.md
  docs/components/group/group.md
  docs/components/modal/FFormModal.md
  docs/components/table-and-list/FCrudDataset.md
  docs/components/validation/FValidationForm.md
  docs/functions/config.md
  docs/functions/functions/handle-keyboard-focus-navigation.md
  docs/functions/functions/mount-component.md
  docs/functions/functions/render-slot-text.md
  docs/functions/i18next-translate/i18next-provider.md
  docs/functions/i18next-translate/i18next.md
  docs/functions/plugins/ErrorPlugin.md
  docs/functions/plugins/TestPlugin.md
  docs/functions/plugins/ValidationPlugin.md
  docs/functions/test-utils/vue.md
  docs/gettingstarted/use-design-system/getting-started-application.md
  docs/guides/validation-and-error-handling/custom-validator.md
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re

feat: semantic tokens (refs SFKUI-6836)
  packages/css-variables/src/_semantic-tokens.scss
  packages/css-variables/src/fkui-exp-css-variables.scss
  packages/css-variables/src/fkui-int-css-variables.scss
  packages/design/src/components/badge/_badge.scss
  packages/design/src/components/badge/_variables.scss
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

CODEOWNERS:

# Default reviewers
* @ext @dvitamin @NicklasWei @MCFK

# Code changes
packages/ @ext @dvitamin @NicklasWei @MCFK @OlofFredriksson @TMFKse @mitra-Re

# Documentation changes
docs/ @ext @dvitamin @NicklasWei @MCFK @kristofernilsson @Marie-Jakobsson @kristinalindstrom @mitra-Re

# Dependency updates
package.json @ext @dvitamin @MCFK @NicklasWei
package-lock.json @ext @dvitamin @MCFK @NicklasWei
internal/*/package.json @dvitamin @ext @MCFK @NicklasWei
packages/*/package.json @dvitamin @ext @MCFK @NicklasWei
