Repository Forsakringskassan/designsystem, changes with the owners that CODEOWNERS names for each.
All owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom

CODEOWNERS:

# Default reviewers
* @ext @dvitamin @NicklasWei @MCFK

# Code changes
packages/ @ext @dvitamin @NicklasWei @MCFK @OlofFredriksson @TMFKse @mitra-Re

# Documentation changes
docs/ @ext @dvitamin @NicklasWei @MCFK @kristofernilsson @Marie-Jakobsson @kristinalindstrom @mitra-Re

# Dependency updates
package.json @ext @dvitamin @MCFK @NicklasWei
package-lock.json @ext @dvitamin @MCFK @NicklasWei
internal/*/package.json @dvitamin @ext @MCFK @NicklasWei
packages/*/package.json @dvitamin @ext @MCFK @NicklasWei

feat: semantic tokens (refs SFKUI-6836)
  packages/css-variables/src/_semantic-tokens.scss
  packages/css-variables/src/fkui-exp-css-variables.scss
  packages/css-variables/src/fkui-int-css-variables.scss
  packages/design/src/components/badge/_badge.scss
  packages/design/src/components/badge/_variables.scss
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

docs: add live example to `FNavigationMenu` (refs SFKUI-6609)
  docs/components/page-layout/FNavigationMenu.md
  packages/vue/src/components/FNavigationMenu/examples/FNavigationMenuActiveRoute.vue
  packages/vue/src/components/FNavigationMenu/examples/FNavigationMenuHorizontal.vue
  packages/vue/src/components/FNavigationMenu/examples/FNavigationMenuLiveExample.vue
  packages/vue/src/components/FNavigationMenu/examples/FNavigationMenuOverflow.vue
  packages/vue/src/components/FNavigationMenu/examples/FNavigationMenuVertical.vue
  packages/vue/src/components/FNavigationMenu/navigation-menu-item.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re, @OlofFredriksson, @TMFKse

refactor: move `getAbsolutePosition` to utils (refs SFKUI-6500)
  etc/vue.api.md
  packages/vue/src/internal-components/IPopup/IPopupUtils.spec.ts
  packages/vue/src/internal-components/IPopup/IPopupUtils.ts
  packages/vue/src/utils/get-absolute-position.cy.ts
  packages/vue/src/utils/get-absolute-position.ts
  packages/vue/src/utils/index.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

fix: modal shelf color (refs SFKUI-6500)
  packages/css-variables/src/fkui-exp-css-variables.scss
  packages/css-variables/src/fkui-int-css-variables.scss
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

chore: add `useEventListener` composable (refs SFKUI-6500)
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useEventListener.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

chore: add `useEventListener` composable (refs SFKUI-6500)
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useEventListener.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

fix: modal shelf color (refs SFKUI-6500)
  packages/css-variables/src/fkui-exp-css-variables.scss
  packages/css-variables/src/fkui-int-css-variables.scss
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

refactor: declare refs in setup (refs SFKUI-6500)
  etc/vue.api.md
  packages/vue/src/components/FTextField/FTextField.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

feat: revalidate textfield on config update (refs SFKUI-6500)
  docs/guides/validation/examples/CrossValidateDates.cy.ts
  etc/vue.api.md
  packages/vue/src/components/FDatepickerField/FDatepickerField.vue
  packages/vue/src/components/FTextField/FTextField.vue
  packages/vue/src/plugins/validation/examples/ValidationPluginDynamicValidation.cy.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re, @OlofFredriksson, @TMFKse

fix: `FNavigationMenu` use `visibility` for overflow (fixes SFKUI-6731)
  docs/components/framework/IMenu.md
  docs/components/framework/IPopupMenu.md
  etc/vue-pageobjects.api.md
  etc/vue.api.md
  packages/design/src/components/_all.scss
  packages/design/src/components/navigation-menu/_navigation-menu.scss
  packages/design/src/internal-components/_all.scss
  packages/vue/htmlvalidate/elements/internal-components.js
  packages/vue/src/components/FNavigationMenu/FNavigationMenu.cy.ts
  packages/vue/src/components/FNavigationMenu/FNavigationMenu.spec.ts
  packages/vue/src/components/FNavigationMenu/FNavigationMenu.vue
  packages/vue/src/components/FNavigationMenu/f-navigation-menu-data.ts
  packages/vue/src/components/FNavigationMenu/find-overflow-index.spec.ts
  packages/vue/src/components/FNavigationMenu/find-overflow-index.ts
  packages/vue/src/components/FNavigationMenu/index.ts
  packages/vue/src/components/FNavigationMenu/menu-item.ts
  packages/vue/src/components/FNavigationMenu/navigation-menu-logic.spec.ts
  packages/vue/src/components/FNavigationMenu/navigation-menu-logic.ts
  packages/vue/src/components/FNavigationMenu/navigation-menu-utils.ts
  packages/vue/src/components/index.ts
  packages/vue/src/internal-components/IMenu/IMenu.cy.ts
  packages/vue/src/internal-components/IMenu/IMenu.spec.ts
  packages/vue/src/internal-components/IMenu/IMenu.vue
  packages/vue/src/internal-components/IMenu/examples/IMenuExample.vue
  packages/vue/src/internal-components/IMenu/examples/IMenuTestComponent.vue
  packages/vue/src/internal-components/IMenu/imenu-logic.spec.ts
  packages/vue/src/internal-components/IMenu/imenu-logic.ts
  packages/vue/src/internal-components/IMenu/imenu-utils.spec.ts
  packages/vue/src/internal-components/IMenu/imenu-utils.ts
  packages/vue/src/internal-components/IMenu/index.ts
  packages/vue/src/internal-components/IPopupMenu/IPopupMenu.vue
  packages/vue/src/internal-components/IPopupMenu/ipopupmenu-logic.spec.ts
  packages/vue/src/internal-components/IPopupMenu/ipopupmenu-logic.ts
  packages/vue/src/internal-components/index.ts
  packages/vue/src/pageobject/FNavigationMenu/FNavigationMenu.pageobject.cy.ts
  packages/vue/src/pageobject/FNavigationMenu/FNavigationMenu.pageobject.ts
  packages/vue/src/pageobject/FNavigationMenu/IMenu.pageobject.cy.ts
  packages/vue/src/pageobject/FNavigationMenu/IMenu.pageobject.ts
  packages/vue/src/pageobject/IMenu.pageobject.ts
  packages/vue/src/pageobject/index.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re, @OlofFredriksson, @TMFKse

chore(deps): revert "update mikepenz/action-junit-report action to v5" (refs SFKUI-6500)
  .github/workflows/build.yml
Owners: @ext, @dvitamin, @NicklasWei, @MCFK

chore(deps): revert "update mikepenz/action-junit-report action to v5" (refs SFKUI-6500)
  .github/workflows/build.yml
Owners: @ext, @dvitamin, @NicklasWei, @MCFK

feat: revalidate textfield on config update (refs SFKUI-6500)
  docs/guides/validation/examples/CrossValidateDates.cy.ts
  etc/vue.api.md
  packages/vue/src/components/FDatepickerField/FDatepickerField.vue
  packages/vue/src/components/FTextField/FTextField.vue
  packages/vue/src/plugins/validation/examples/ValidationPluginDynamicValidation.cy.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re, @OlofFredriksson, @TMFKse

chore(deps): revert "update dep @forsakringskassan/vite-lib-config to v2.2.0" (refs SFKUI-6500)
  package-lock.json
  package.json
  packages/vue-labs/package.json
  packages/vue-labs/src/components/XTimeTextField/__snapshots__/XTimeTextField.spec.ts.snap
  packages/vue/package.json
Owners: @ext, @dvitamin, @MCFK, @NicklasWei, @OlofFredriksson, @TMFKse, @mitra-Re

chore(deps): revert "update dep @forsakringskassan/vite-lib-config to v2.2.0" (refs SFKUI-6500)
  package-lock.json
  package.json
  packages/vue-labs/package.json
  packages/vue-labs/src/components/XTimeTextField/__snapshots__/XTimeTextField.spec.ts.snap
  packages/vue/package.json
Owners: @ext, @dvitamin, @MCFK, @NicklasWei, @OlofFredriksson, @TMFKse, @mitra-Re

test: fix table structure follow specification (refs SFKUI-6500)
  packages/vue/src/components/FCrudDataset/FCrudDataset.spec.ts
  packages/vue/src/components/FCrudDataset/__snapshots__/FCrudDataset.spec.ts.snap
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

fix: click on menu item activates anchor (refs SFKUI-4899)
  etc/vue.api.md
  packages/vue/src/components/FNavigationMenu/FNavigationMenu.cy.ts
  packages/vue/src/components/FNavigationMenu/FNavigationMenu.vue
  packages/vue/src/internal-components/IPopupMenu/IPopupMenu.cy.ts
  packages/vue/src/internal-components/IPopupMenu/IPopupMenu.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

feat: semantic tokens tooltip (refs SFKUI-6920)
  packages/design/src/components/tooltip/_tooltip.scss
  packages/design/src/components/tooltip/_variables.scss
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

feat: add `isFinalStep` param to wizard `cancel` event (refs SFKUI-6500)
  etc/vue.api.md
  packages/vue/src/components/FWizard/FWizard.vue
  packages/vue/src/components/FWizard/FWizardApi.ts
  packages/vue/src/components/FWizard/FWizardStep.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

feat: add `cancel-button-text` slot to wizard step (refs SFKUI-6500)
  docs/components/FWizard.md
  packages/vue/htmlvalidate/elements/components.js
  packages/vue/src/components/FWizard/FWizardStep.spec.ts
  packages/vue/src/components/FWizard/FWizardStep.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re, @OlofFredriksson, @TMFKse

feat: semantic tokens chip (refs SFKUI-6910)
  packages/css-variables/src/_semantic-tokens.scss
  packages/design/src/components/chip/_chip.scss
  packages/design/src/components/chip/_variables.scss
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

refactor: sort lines in index.ts for Validators (refs SFKUI-6500)
  packages/logic/src/services/ValidationService/Validators/index.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

feat: add formatPersonnummerToDate helper (refs KDK-48741)
  etc/logic.api.md
  packages/logic/src/converters/PersonnummerConverter/personnummer.spec.ts
  packages/logic/src/converters/PersonnummerConverter/personnummerConverter.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

feat: add validator `personnummerNotSame` (refs KDK-48741)
  packages/logic/src/services/ValidationService/Validators/PersonnummerNotSame.spec.ts
  packages/logic/src/services/ValidationService/Validators/PersonnummerNotSame.ts
  packages/logic/src/services/ValidationService/Validators/index.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

feat: add validator `personnummerOlder` (refs KDK-48741)
  packages/logic/src/services/ValidationService/Validators/PersonnummerOlder.spec.ts
  packages/logic/src/services/ValidationService/Validators/PersonnummerOlder.ts
  packages/logic/src/services/ValidationService/Validators/index.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

feat: add validator `personnummerYounger` (refs KDK-48741)
  packages/logic/src/services/ValidationService/Validators/PersonnummerYounger.spec.ts
  packages/logic/src/services/ValidationService/Validators/PersonnummerYounger.ts
  packages/logic/src/services/ValidationService/Validators/index.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

feat: add `isFinalStep` param to wizard `cancel` event (refs SFKUI-6500)
  etc/vue.api.md
  packages/vue/src/components/FWizard/FWizard.vue
  packages/vue/src/components/FWizard/FWizardApi.ts
  packages/vue/src/components/FWizard/FWizardStep.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

feat: add `cancel-button-text` slot to wizard step (refs SFKUI-6500)
  docs/components/FWizard.md
  packages/vue/htmlvalidate/elements/components.js
  packages/vue/src/components/FWizard/FWizardStep.spec.ts
  packages/vue/src/components/FWizard/FWizardStep.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @kristofernilsson, @Marie-Jakobsson, @kristinalindstrom, @mitra-Re, @OlofFredriksson, @TMFKse

refactor: fcard refactored to Composition API (refs SFKUI-6500)
  etc/vue.api.md
  packages/vue/src/components/FCard/FCard.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

feat: add new useSlotUtils composable (refs SKFUI-6500)
  etc/vue.api.md
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useSlotUtils.ts
  packages/vue/src/index.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

feat: add new useSlotUtils composable (refs SKFUI-6500)
  etc/vue.api.md
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useSlotUtils.ts
  packages/vue/src/index.ts
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

refactor: fcard refactored to Composition API (refs SFKUI-6500)
  etc/vue.api.md
  packages/vue/src/components/FCard/FCard.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re

refactor: use composition api in 'FBadge' (refs SFKUI-6500)
  etc/vue.api.md
  packages/vue/src/components/FBadge/FBadge.vue
Owners: @ext, @dvitamin, @NicklasWei, @MCFK, @OlofFredriksson, @TMFKse, @mitra-Re
